
/*
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
font-family: 'Indie Flower', cursive; 
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
	h1 main title
	h2 section heading
	h3 icon text
	h4 nav items
	h5 messsege text headings
*/

* {
	color: var(--bright);
	font-size: var(--font-size-reg);
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--dark);
	display: flex;
	flex-flow: column nowrap;
	padding:0px;
}

header,
nav, 
footer
{
	padding: 10px;
}

header {
	order: 1;
}

main{
	display: flex;
	flex-flow: column;
}


nav {
	order: 2;
	background-color: var(--med);

	flex: 1 0 0 ;
	/*flex-basis: 20%;*/
}

	nav ul {
		list-style-type: none;
	}

		nav ul li {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			padding: var(--spacing-size);
		}

			nav ul li h4 {
				margin-top: auto;
				margin-bottom: auto;
			}

			nav ul li .icon {
				margin-top: auto;
				margin-bottom: auto;
				color: red;
			}


section {
	order:3;
	display:flex;
	flex-direction: column;
}


	section ul {
		background-color: var(--med);
		margin: var(--spacing-size);
		border-radius: var(--spacing-size);
		list-style-type: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

		section ul li {
			background-color: var(--light);
			margin: 20px;
			padding: 16px;
			/*border-radius: 32px 32px 5px 32px;*/
			border-radius: var(--conversation-radius-you);
		}

		section ul .me {
			border-radius: var(--conversation-radius-me);
			background-color: var(--dark);
			text-align: right;
			align-self: flex-end;
		}

		section ul li h5 {
			font-size: var(--font-size-small);
		}




footer {
	order: 4;
	background-color: var(--med);
}

.icon {
	display: inline-block;
	border: thick;
	background-color: var(--light);
	border-color: var(--dark);
	min-width: var(--icon-size);
	min-height: var(--icon-size);
	max-width: var(--icon-size);
	max-height: var(--icon-size);
	border-radius: var(--icon-size);
	text-align: center;
	margin: 5px;
}

.profile {
	width:var(--profile-size);
	height: var(--profile-size);
	border-radius: var(--profile-size);
	background: #ff11ff;
	background-position: center;
	/* background-size:  var(--profile-size)  var(--profile-size); */
	background-size:  auto 100%;

}


.error{
	background-color:red;
	color:yellow;
	border-radius: var(--icon-size);
	margin: var(--spacing-size);
	padding: var(--spacing-size);
	padding-left: 10px;
}


input,
select {
	background-color: var(--dark);
	border: solid 1px var(--light);
	margin:5px;
	padding: 5px;
}
